body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #E6E5E5;
}

nav ul {
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 13px;
    margin: 12px;
}

nav ul li a {
    text-decoration: none;
    color: #009900;
}

nav ul li a:hover {
    color: white;
    background-color: #009900;
    border-radius: 5px;
     padding: 10px; 
  
}