body {
  width: 1180px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0; 
}


nav {
    background-color:#f0f1f5 ;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    color: #01bdbe;
    width: 180px;
    margin: 10px 0;
    padding: 15px 0;
    border-right: 3px solid white  ;
}

nav ul li:first-child {
  border-left: 3px solid white;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #01bdbe;
    font-size: 20px;
    text-transform: uppercase;
    padding-inline: 15px;
}

.main-section {
  padding: 15px;
  width: 437px;
  color: #b2b6c0;
  background-color: #555c6f;
  padding-bottom: 5px;
  float: left;
}

.main-section ul {
  display: inline-block;
  text-align: left;
  margin-inline: -45px;
}

.main-section ul li  {
  display: inline-block;
  padding-right: 10px ;
   
}

.main-section ul li a i {
  color: #b2b6c0;
}

#copy-right {
  margin-top: 44px;
}

.about{
  background-color: #01bdbe;
  height: 444px;
  display: inline-block;
  width: 659px;
  padding: 26px;
  color: white;
}

.about article:nth-child(1) {
  margin-left: 12px;
    font-size: 18px;
    width: 227px;
    float: left;
}

.about article:nth-child(2) img {
  display: inline-block;
  /* size: 50px; */
  width: 219px;
  border: 10px solid;
  float: right;
}