<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation"></header>

    <div class="info">
        <div></div>
        <div>
            <h4>For us</h4>
            Pathfinder is a web application that allows you to find a new route for tourism and
            enjoy the nature. With pathfinder you are able to choose between pedestrian,
            bicycle, motorcycle or car routes.
            When logged in, you can read the most important information about routes,
            see pictures, video and difficulty level of route also you can leave a comment.
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>