<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation"></header>

<!--    <section th:each="pr : ${routeByCategory}" th:object="${pr}" class="road">-->
<!--        <div>-->
<!--            <h2 th:text="*{title}">Title</h2>-->
<!--            <p th:text="*{description}">Very long description</p>-->
<!--            <a href="/" class="btn">Learn More</a>-->
<!--        </div>-->
<!--        <img class="rounded-circle w-75 ml-5" th:src="*{imageUrl}" alt="Title image">-->
<!--    </section>-->

    <section th:replace="fragments/routeByCat::info"></section>
</div>
<!-- Wrapper Ends -->
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>