<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <link rel="stylesheet" type="text/css" href="/css/error-pages.css"/>
    <script src="/js/custom.js"></script>
</head>
<body>
<img class="my-custom-exception-pages" src="/images/forbidden.png" alt="Forbidden access">

<div class="words word-1">
    <span>Y</span>
    <span>O</span>
    <span>U</span>
</div>

<div class="words word-2">
    <span>H</span>
    <span>A</span>
    <span>V</span>
    <span>E</span>
    <span>N</span>
    <span>'</span>
    <span>T</span>
</div>

<div class="words word-3">
    <span>A</span>
    <span>C</span>
    <span>C</span>
    <span>E</span>
    <span>S</span>
    <span>S</span>
</div>
</body>
</html>